@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  
  background-color: #242424;
  color: #dae7e0;
}

h2 {
  font-family: "Handlee", cursive;
  font-weight: 400;
  font-style: normal;
}